html {
    font-size: 62.5%;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #83c05b;
  }
  
  /* WHOLE PAGE IS FLEXED */
  .flex-page-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  /* HEADER PICTURE AND LOGO RESPONSIVE */
  .header figure img {
    max-width: 100%;
  }
  
  /* NAVBAR */
  .navbar {
    margin-block-end: 0.5rem;
  }
  /* NAVBAR FLEXED IN MOBILE AS ONE COLUMN*/
  .navbar ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* NAVBAR BUTTON STYLING */
  .navbar ul > * {
    border: solid green 1px;
    border-radius: 1rem;
    box-shadow: 1px 1px black;
    text-align: center;
    padding: 1rem;
    background-color: #9dcd7c;
    color: white;
    text-shadow: 0.11rem 0.1rem black;
  }
  
  /* ARTICLE BOX */
  .article {
    padding: 1rem;
    margin-block-end: 1rem;
  }
  /* ARTICLE BOX HIDDEN IN MOBILE */
  .article-inner-box figure {
    display: none;
  }
  
  /* SPECIALS, EVENTS AND NEWS FLEXED IN A COLUMN IN MOBILE */
  .flex-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block-end: 1rem;
  }
  /* SPECIALS, EVENTS AND NEWS FLEXED TO BE THE SAME SIZE*/
  .flex-main > * {
    background-color: white;
    padding: 1rem;
    flex-basis: 100%;
  }
  /* THREE BOXES FLECED IN A COLUMN IN MOBILE */
  .specials,
  .events,
  .specials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  /* FLEX BOX HEADERS AND SEPERATING THE ARROWS */
  .box-headers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: #cbcbcb;
  }
  /* RESPONSIVENESS OF THE PICTURES IN THE FIRST TWO BOXES */
  .box-images img {
    max-width: 100%;
  }
  /* THIRD BOXES LIST IN A COLUMN */
  .newslist {
    display: flex;
    flex-direction: column;
  }
  /* LIST OF EVENTS IS PUT IN A ROW*/
  .newslist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  /* STYLING OF LIST, DATES ARE BOLDED */
  .newslist ul li:first-child {
    font-weight: 700;
    width: 4rem;
  }
  
  /* FOOTER IS STYLED  */
  .footer {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
  }
  /* PHONE NUMBER IN BLACK */
  .footer section p:nth-child(3) {
    color: black;
  }
  
  /* TABLET VIEW */
  @media screen and (min-width: 426px) {
    /* NAV TO A ROW */
    .navbar ul {
      flex-direction: row;
    }
    /* NAVBAR IS STYLED TO GROW AND FIT THE SCREEN */
    .navbar ul > * {
      flex-grow: 1;
    }
    /* ARTICLE BOX TO WHIT SINCE WE HAVE PADDING */
    .article {
      background-color: white;
    }
    /* ARTICLE IS STYLED CORRECTLY TO FIT THE BOX */
    .article-inner-box {
      display: grid;
      grid-template-columns: 3fr 1fr;
      justify-content: space-between;
      background-image: url(./assets/background.png);
      padding-inline-start: 1rem;
    }
    /* TAKE THE ARTICLE FIGURE IN TABLET VIEW */
    .article-inner-box figure {
      display: block;
      flex-basis: 50%;
    }
    /* PICTURE TO BE RESPONSIVE */
    .article-inner-box figure img {
      max-width: 100%;
    }
    /* CENTER THE TEXT */
    .article p {
      margin: auto 0 auto 0;
      flex-basis: 80%;
    }
    /* REMOVE IN TABLET VIEW EXTRA SPACING*/
    .flex-main {
      gap: 0;
    }
    /* ALIGN SPECIALS AND EVENTS IN THE FIRST ROW */
    .specials,
    .events {
      flex-basis: 0;
      flex-grow: 1;
    }
    /* EXTRA SPACING TO BE FIXED */
    .specials {
      padding-inline-end: 0.5rem;
    }
    .events {
      padding-inline-start: 0.5rem;
    }
    .news {
      margin-block-start: 1rem;
    }
  }
  
  /* DESKTOP VIEW */
  @media screen and (min-width: 769px) {
    /* THE WHOLE PAGE PADDING IN DESKTOP */
    body {
      padding: 0 2rem 0 2rem;
    }
    /* FIXING EXTRA SPACING */
    .events {
      padding-inline-end: 0.5rem;
    }
    /* TAKE THE NEWS IN THE SAME ROW */
    .news {
      flex-basis: 0;
      flex-grow: 1;
      margin-block-start: 0;
      padding-inline-start: 0.5rem;
    }
  }